@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev{
    left: 3% !important;
    z-index: 1;
    width: 100px;
    height: auto;
}
.slick-next{
    right: 3% !important;
    z-index: 1;
}

a{
    text-decoration: dashed;
    
}