@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev{
    left: 0.1%  !important;
    z-index: 1;
    width: 100px;
    height: auto;
}
.slick-next{
    right: 0.1% !important;
    z-index: 1;
}

a{
    text-decoration: dashed;
    
}